django>=4.2,<5.0
djangorestframework
djangorestframework-simplejwt
django-environ
django-cors-headers
psycopg2-binary
celery[redis]
django-celery-beat
redis
httpx
Pillow
python-decouple
whitenoise
pandas
requests==2.31.0
curl-cffi
scikit-learn==1.9.0
beautifulsoup4
python-dateutil
tqdm
numpy
statsmodels
vaderSentiment
torch
transformers
google-cloud-storage
psx-data-reader
mlflow>=2.9,<3.0
